*{
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #f2f2f2 ;
}
/*------------First page ------------*/

/* ----------- header  ----------------*/

.header a {
    text-decoration: none;
    color: #193366;
    font-weight: bold;
}

/*--------- banner -------------------*/

.banner {
    position: relative;
    overflow: hidden;
    text-align: center;
  
}

.banner img {
    width: 100%;
    height: 100vh;
    filter: brightness(40%);
}

.banner_content {
    position: absolute;
    top: 0;
    width: 100%;
}

.banner_content h1 {
    display: inline-block;
    background-color: #cc0000;
    font-size: 48px;
    color: white;
    margin-top: 60px;
    padding: 10px;
    border-radius: 10px;
}

.banner p {
    margin-top: 5px;
    color: #f2f2f2;
    font-size:20px;
}

.banner a {
    text-decoration: none;
    border-radius: 25px;
    font-family: 'Montserrat', sans-serif ;
    font-size: 24px;
    background: linear-gradient(114deg, rgba(11,11,11,1) 0%, rgba(62,62,62,0.7679446778711485) 100%);
    color: #cc0000;
    padding: 12px; 

}

/* -----Product Page section --------*/

/*---------- header ------------------*/
nav {
    background-color: #d6e0f5;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header h1, ul, li, .navitems, .search {
    display:inline
}


.header h1 {
    color: #e60000;
}

li {
    margin: 3px 10px 3px 10px;
    padding: 5px;
    border:2px solid #d6e0f5;
    border-radius: 5px;
    color: #193366;
    font-weight:bold;
    cursor: pointer;
}

li:hover {
    border-color: #193366;
    
   
}

.navitems {
    display: flex;
    align-items: center;
}

input {
    outline: none;
    border:none;
    border-bottom: 1px solid black;
    background-color: #d6e0f5;;
    font-size: 15px
}

#searchicon {
    margin-left: 25px;
    margin-right: 5px;
}

#shoppingicon {
    margin-left: 100px;
}


/*------------ Products stylesheet -------------*/

body .products {
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 60px;
    margin-buttom: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
}

.box {
    box-shadow: 2px 2px 5px #d9d9d9; 
    border-radius:10px;
    width:250px;
    height: 300px;
    background-color: white;
    display: inline-block;
}

.box a {
  text-decoration: none;
  background-color: #ffff00;
  padding: 8px;
  border-radius: 5px;
  font-weight: bold;
  font-family: 'Comfortaa', cursive;
}

.box a:hover {
    background-color: #e6e600;
}

.rateblock h4 {
    font-family: 'Montserrat', sans-serif
}

.box h4 {
    font-family: 'Fira Sans Condensed', sans-serif;
}

img {
    width: 250px;
    height: 220px;
    object-fit: cover;
    object-position: center;
}

.rateblock {
    margin-top: 10px;
    display: flex;
    font-size:18px;
    align-items: center;
    justify-content: space-around;
}

.previous_price {
    font-size: 12px;
    font-weight: light;
    color: #666666;
    text-decoration: line-through;
    text-decoration-color: red
}

/* -----Footer Section -----------*/

.about {
    background-color: #99ceff;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size:24px;
    margin-top: 50px;
}

/* ------------ Checkout section -------------------- */
/* ---------Form style sheet ------------------------*/

.checkout {
    background-color: white;
    margin-top: 20px;
    margin-left: 10px;
    display: inline-block;
    width: 500px;
    height:600px;
    font-family: 'Fira Sans Condensed', sans-serif;
}

.checkout h3 {
    padding: 10px;
    font-family: 'Fira Sans Condensed', sans-serif;
}

.details label {
    display: block;
    margin-bottom: 3px;
}

.address {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}


.inputs {
    margin-left: 20px;
}

.inputs input {
    border: 1px solid black;
    background-color:white;
    padding: 5px;
    border-radius: 5px;
}

button {
    padding: 10px;
    font-size: 16px;
    color: white;
    background-color: black;
    border: 1px solid black;
    border-radius: 5px;
    margin: 20px;

}

.savebut a {
    padding: 10px;
    font-size: 16px;
    color: white;
    background-color: black;
    border: 1px solid black;
    border-radius: 5px;
    margin: 20px;
    text-decoration: none;
}

